*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   
}
.conteiner{
   width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/images-player/images/image\ 4.png);
  margin-top: 40px;
  margin-bottom: 20px;
padding-bottom: 20px;
}
.music-player{
   margin-top: 20px;
   width: 452px;
  height: 672px;
  background: #000;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-shadow: -5px -5px 15px 0px #631813, 5px 5px 15px 0px #631813;
  opacity: 0.9;
}

/* main-logo */
.main-logo img{
   width: 250px;
   height: 250px;
   border-radius: 20px;
   box-shadow: -5px -5px 15px 0px #631813, 5px 5px 15px 0px #631813;
   opacity: 0.9;
}

/* text */

.music-info{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   margin-bottom: 20px;
   font-family: 'Bebas Neue';
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 24px;
   color: #FFFFFF;
   margin-top: 30px;
   padding-bottom: 10px;
}

.tite{
   padding-top: 10px;
   font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 24px;
color: #781F1B;

}

.singer{
   font-size: 25px;
}

/* volume */
.volume-down img{
   width: 40px;
}

.volume-up img{
   width: 40px;
}

.volume-box{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
}

.active-player{
   display: none;
}

/* buttons */
.btn-box img{
   width: 50px;
}

.btn-box{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
   margin-bottom: 20px;
}

.volume{
   margin-left: 30px;
   margin-right: 30px;
}

/* range */
.range-music-box{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
   margin-bottom: 20px;
   width: 200px;
}

.play-btn img{
   width: 80px;
   height: 80px;

}


/* ads-link */
.adds-links{
   display: flex;
   justify-content: space-between;
   width: 60%;
   margin: 0 auto;
}

.active-player{
   display: none;
}
