.convert-wrapper{
   background-image: url(/images/images-player/images/image\ 4.png);
   height: 60vh;
   padding-top: 5%;
   margin-top: 5%;
}

.convertor{
   width: 450px;
   height: 400px;
   background: rgba(0, 0, 0, 0.838);
  border-radius: 2em;
  box-shadow: -5px -5px 15px 0px #631813, 5px 5px 15px 0px #631813;
  opacity: 0.9;
  padding: 50px;
  margin: 0 auto;
}

.style select{
margin-bottom: 20px;
}

.style input{
   margin-bottom: 20px;
}

#btnGetConvert{
   border: none;
   background-color: #631813;
   padding: 15px;
   border-radius: 10px;
   box-shadow: -5px -5px 10px 0px #631813, 5px 5px 10px 0px #631813;
  opacity: 0.9;
  color: whitesmoke;
  font-family: 'Inter';
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

#output{
   font-size: 34px;
   color: whitesmoke;
}

.style span{
   color: #631813;
   font-size: 30px;
   margin-right: 20px;
   font-family: 'Inter';
  text-transform: uppercase;
}

.style input{
   width: 180px;
   font-size: 20px;
   background-color: whitesmoke;
   border: none;
   padding-left: 10px;
}

.style select{
   width: 70px;
   font-size: 20px;
   background-color: whitesmoke;
   border: none;
}